
.background-image {
  background-image: url(../../assets//images/bg.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.left-side {
  width: 30%;
}

.right-side {
  width: 70%;
}

.card {
  width: 800px;
  height: auto;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
